.create_form{
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.create_form button{
    cursor: pointer;
}
.create_form>div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.answer_div{
    display: flex;
    gap:30px;
    align-items: center;
}
.answer_div input[type=checkbox]{
    width: 25px;
    height: 25px;
}
.answer_div button{
    flex-grow: 0;
    width: 25px;
    height: 25px;
    padding: 0;
}
.answer_div input[type=text]{
    flex-grow: 1;
}
.submit_btn{
    background-color: var(--DARK);
    color: var(--LIGHT);
}