*{
  box-sizing: border-box;
  
}
body {
  background-color: rgb(255, 255, 255);
  height: 100vh;
  background-size: cover;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 6rem;
  
}

header{
  position: fixed;
  top:0;
  width: 100%;
  background-color: darkslategrey;
  color: white;
  box-shadow: 0 5px 2px -2px rgb(0, 0, 0);
}

nav{
  display: flex;
  justify-content: space-between;
}

nav .nav__ul{
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
  
}
.nav__ul li {
  
  padding: 1rem;
  flex-grow: 1;
}
.nav__ul li a{
  color: white;
  text-decoration: none;
  padding: 1rem;
  font-size: 1.2rem;
}
nav div{
  flex-grow: 1;
  padding-left: 3rem;
}
nav h2{
  text-shadow: 2px 2px 5px black;
  letter-spacing: 3px;
}



.formDiv{
  display: grid;
  place-content: center;
  padding: 5rem;
}

.userInfo{
  display: flex;
  justify-content: space-around;
}

.questions_section{
  padding: 3rem;
}

ol{
  font-size: 1.5rem;
  font-weight: 800;
  list-style: decimal-leading-zero;
  
}

ul{
  list-style-type:lower-alpha;
}
.answers{
  display: flex;
  justify-content: space-evenly;
}
.addButton{
  width: 50vw;
  background-color: darkslategrey;
  color: white;
}
.addButton:hover{
  background-color: rgba(47, 79, 79, 0.833);
}
.questionsDiv{
display: grid;
place-content: center;
}

#modal-hook{
  background-color:rgb(255, 255, 255);
  position: fixed;
  top: 20%;
  left: 35%;
  z-index: -10;
  width: 40vw;
  height: 70vh;
  
}

.closeModaBtnl,.addModaBtnl{
  width: 40%;
  background-color: darkslategrey;
  color :white;
  position: absolute;
  bottom: 10px;
}
.closeModaBtnl:hover,.addModaBtnl:hover{
  background-color: rgba(47, 79, 79, 0.714);
}

.addModaBtnl{
  right: 10px;
}

.modalContainer{
  width: 100%;
  height:100%;
  border:2px solid black;
  border-radius:25px;
  padding:1rem;
  padding-bottom: 5rem;
  
}
.addInputs{
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 2rem;
}
.warn{
  color: red;
}

.checkbox{
  width: 20px;
  height: 20px;
}
.inputsAddmodal{
  display: flex;
  align-items: center;
}
.questionHeader{
  display: flex;
  justify-content:end;
  width: 100%;
}
.questionHeader button{
  background-color: darkslategrey;
  color: white;
  width: 10%;
  margin-left: 10px;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}